body{
  font-family: Arial, sans-serif;
  margin: 0;
}

table{
  width: 100%;
}

th{
  background: #273b47;
  color: white;
}

th{
  padding: 10px 20px;
  text-align: left;

}

td{
  padding: 20px:;
}

table, td, th {
  border: 1px solid #273b47;
  border-collapse: collapse;
}

input, textarea {
  outline: 0;
}

input:focus, textarea:focus {
  background: lightgray;
}

.contenedor {
  width: 800px;
  margin: auto;
  position: relative;
}

.background {
  /*background-color: grey;*/
  /*background-size: cover;*/
}

.button {
  border-radius: 12px;
  border: none;
  color: white;
  padding: 7px 12px;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  background: #fd324e;
  background: linear-gradient(to left, #fe344e, #ff7250);
}

.titulo {
  font-family: sans-serif;
  font-size: 70px;
  margin-bottom: 0;
  margin-top: 70px;
}

.titulo span {
  text-decoration: underline;
}

.title-a {
  font-size: 24px;
  margin-top: 0;
}

.title-b {
  font-size: 50px;
  margin-bottom: 20px;
}

.title-c {
  font-size: 50px;
  margin-left: 300px;
}

.contabilidad {
  color: #1F313C;
  /*margin-bottom: 60px;*/
  padding:10px 10px 10px 10px;
}

.contabilidad h2 {
  font-size: 30px;
}

.portada {
  color: white;
  padding: 20px;
  height: 500px;
  background:  #273b47;

}

.portada button {
  margin-bottom: 70px;
}

.menu {
  font-size: 24px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 30px;
}

.menu li {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

.menu li:before{
  /*content: '∘';*/
  font-size: 50px;
  line-height: 20px;
  color: white;

}

.menu a {
  color: white;
  text-decoration: none;
}

.logotipo {
  display: inline-block;
  /*margin-left: 0;*/
  margin: 0;
}

/*.contabilidad {
  margin: 10px 10px 40px 10px;
  padding: 10px 10px 10px 200px;
 
}*/


.marketing {
  height: 190px;
  /*margin: 10px 10px 40px 10px;*/
  padding: 70px 10px 10px 10px;
  
}

.derecha {
  float: right;
  position: relative;
  top: 7px;
  right: 0px;
}

.izquierda {
  float: left;
  position: relative;
  left: 0px;
  top: 7px;
  border-radius: 0 0 8px 8px;
}

.contenedor-contabilidad {
  padding-left: 20px;
  border: 1px solid #1F313C;
  border-radius: 8px;
  height: 200px;
}

.contenedor-marketing {
  /*margin-left: 190px;*/
  position: relative;
  bottom: 40px;
   border: 1px solid #1F313C;
  border-radius: 8px;
  height: 200px;
}

.header {
  position: relative;
  background:  #273b47;
}

.footer {
  background: #273b47;
  padding: 50px 10px;
}

.contacto {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  align-items: center;
}

.contacto img {
  display: block;
}

.contacto strong {
  display: block;
}

.contacto a {
  color: white;
  text-decoration: none;
  margin: 10px 10px 10px 0;
}

.footer .contenedor {
  display: flex;
  justify-content: space-between;
}

.formulario {
  display: flex;
  width: 400px;
  color: white;
  padding-top: 100px;
}

.col1 {
  margin-right: 15px;
}

.col2 {
  align-items: flex-start;
}

.col2 .button {
  margin-top: 15px;
}

.intereses label {
  font-size: 12px;
}

.formulario label, .sexo, .intereses {
  margin-bottom: 10px;
}

.sexo {
  margin-top: 10px;
}

.tabla {
  margin: 50px 0;
}

p {
  display: block;
  -webkit-margin-before: 3em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; 
}

.contenedor h2 {
  font-size: 30px;
}

.footer p {
  font-size: 15px;
  color: white;
  text-align: center;
}

ul {
  padding-left: 0;
}